@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  color: #f0f0f0;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg-color: #1c1c1c;
  --typewriterSpeed: 2.2s;
  --typewriterCharacters: 125;
}
.blob-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  animation: blobAnimation 5s infinite ease-in-out;
}

.blob-image {
  width: 100%;
  height: 100%;
}
.type-writer {
  position: relative;
  position: relative;
  width: max-content;
}

.type-writer::before,
.type-writer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type-writer::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.type-writer::after {
  width: 0.125em;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters));
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blobAnimation {
  0% {
    border-radius: 50% 50% 45% 55% / 60% 40% 60% 40%;
    transform: translate(0, 0);
  }
  25% {
    border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
    transform: translate(-5px, -10px);
  }
  50% {
    border-radius: 60% 40% 50% 50% / 55% 45% 55% 45%;
    transform: translate(5px, 10px);
  }
  75% {
    border-radius: 50% 50% 40% 60% / 50% 50% 45% 55%;
    transform: translate(-10px, 5px);
  }
  100% {
    border-radius: 50% 50% 45% 55% / 60% 40% 60% 40%;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 863px) {
  .type-writer::after {
    opacity: 0;
  }
  .blob-container {
    display: none;
  }
}
